SECRET_KEY=

# PostgreSQL values
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# nginx values
DOMAIN=
EMAIL=

# Mail service values
MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=
MAIL_USERNAME=
MAIL_PASSWORD=
WTF_CSRF_ENABLED=