<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Personal Leave{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
    <nav>
        {% block nav %}{% endblock %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>